html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .headerlinks {
		display: inline-block;
		text-align: right;	
    width: 600px;
    height: 1px;
    margin: 0px 0;
		padding: 15px;	
		font-size: small;			
	}
	
	a:link {text-decoration: none;color: #6f6f83}
	a:active {text-decoration: none;}
	a:visited {text-decoration: none;color: #6f6f83}
	a:hover {text-decoration: underline;color: #6f6f83}	